* {
    font-family: 'Garamond';
}

.poster {
    width: 180px;
    border-radius: 5px;
}

.row {
    display: grid;
    grid-template-columns: repeat(42, minmax(180px, 1fr));
    grid-auto-columns: 300vw;
    overflow: hidden;
    row-gap: 5px;
    column-gap: 5px;
    scroll-behavior: smooth;
    padding: 120px;
}

.background {
    background-image: linear-gradient(60deg, black, #292b2c, black);
    min-height: 100vh; /* Ensure background covers entire viewport height */
    width: 100vw;
    overflow: hidden; /* Ensure the background doesn't overflow */
}

.poster-div {
    display: flex;
    width: 180px;
}

.poster-div:hover {
    cursor: pointer;
    transform: scale(1.1);
}
